@import "tailwindcss";


@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'ProductSansB';
  src: url('/fonts/PTSans-Bold.ttf');
}



@font-face {
  font-family: 'PPMori';
  src: url('../fonts/PPMori-SemiBold.otf');
}

@theme{
  --font-PPMori:PPMori,"sans-serif"
}


@theme{
  --font-PtSans:ProductSans , "sans-serif"
  
}


@theme{
  --font-PtSansB:ProductSansB , "sans-serif"
  
}


@layer components{
  .navStyle{
    @apply text-white font-PPMori
  }
}

@layer components{
  .img-round{
    @apply rounded-xl
  }
}

@layer components{
  .cursor-style{
    @apply fixed w-[12px] h-[12px] rounded-full z-50 bg-green-600
  }
}

@layer components{
  .cursorvideo{
    @apply fixed p-0.5 rounded-xl z-50 text-black bg-green-500 font-bold text-[15px]
  }
}




@layer components{
  .page4headstyle{
    @apply text-white font-PPMori
  }
}



