@import "tailwindcss";


@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'ProductSansB';
  src: url('/fonts/PTSans-Bold.ttf');
}



@font-face {
  font-family: 'PPMori';
  src: url('../fonts/PPMori-SemiBold.otf');
}

@theme{
  --font-PPMori:PPMori,"sans-serif"
}


@theme{
  --font-PtSans:ProductSans , "sans-serif"
  
}


@theme{
  --font-PtSansB:ProductSansB , "sans-serif"
  
}


@layer components{
  .navStyle{
    @apply text-white font-PPMori
  }
}

@layer components{
  .img-round{
    @apply rounded-xl
  }
}

 @layer components{
  .cursor-blank{
    @apply fixed pointer-events-none z-50 transition-all duration-100 ease-linear
  }
 }

  @layer components{
  .cursor-collection{
    @apply fixed  w-[27vw] h-[27vh] z-50 bg-contain bg-no-repeat bg-center rounded-lg  
  }
 }





@layer components{
  .page4headstyle{
    @apply text-white font-PPMori
  }
}



